%h1 You are invited to join the BehindTheTap Demo for #{@company.name}

%a{"href" => "https://docs.google.com/document/d/1NXVBDEREBhnkTJD9AXoqWeOoDCBOmRSymI8IIuXCDIs/edit?usp=sharing", "target" => "_blank", "rel" => "noopener noreferrer"} FOLLOW THIS GUIDE AND LEAVE FEEDBACK

%p
  Hello, you have been invited to join #{@company.name} as a #{@user.role}.

%p
  To accept the invitation and set up your account, please click the link below:

%p
  = link_to 'Accept Invitation', @invite_url

%p
  If you did not expect this invitation, please ignore this email.
