%h1 Dashboard
%p This is where you will see current_brews, Announcements, Events, EoD bartender thread, etc..
%p depends on what role you have
%p Admin: Whatever company they switch to will show everything for that company
%p brewer: Current_brews (whats in the tanks), inventory
%p Bartender: Announcements, Events, EoD Thread
